<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Phone numbers:</strong>
  <ul>
    <% @company.phone_numbers.each do |phone| %>
      <li>
        <%= phone.number %>&nbsp;
        <%= link_to 'edit', edit_phone_number_path(phone) %>&nbsp;
        <%= link_to 'delete', phone_number_path(phone), method: 'delete' %>
        </li>
    <% end %>
  </ul>
</p>

<p><%= link_to 'Add phone number', new_phone_number_path(contact_id: @company.id, contact_type: 'Company') %></p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
